<!DOCTYPE html>
<html lang="en">
<head>
  <title>รายละเอียดการลา</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <center><h2>รายละเอียดการลา:</h2></center>
    <form role="form">
    <div class="form-group">
      <label for="usr">ชื่อเจ้าของใบลา:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="usr">วันที่เริ่มต้น:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="usr">วันที่สิ้นสุด:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="usr">รหัสประจำตัว:</label>
      <input type="text" class="form-control" id="usr">
    </div>	
    <div class="form-group">
      <label for="usr">ตำแหน่ง:</label>
      <input type="text" class="form-control" id="usr">
    </div>	
    <div class="form-group">
      <label for="usr">ประเภทการลา:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="usr">สาเหตุการลา:</label>
      <input type="text" class="form-control" id="usr">
    </div>
	<h4>สถานะ : <button type="button" class="btn btn-warning">รอการอนุมัติ</button></h4>
	<center><input type="radio" name="optradio"><b>อนุมัติ &nbsp
	<input type="radio" name="optradio">&nbspไม่อนุมัติ</b><br><br>
	<button type="button" align=right class="btn btn-primary" >ยืนยัน</button>
	</center>
	<br><br>
  </form>
</div>

</body>
</html>
